automations/n8n/retention-job.json
{
    "name": "Retention Job Sweep",
    "nodes": [
        {
            "parameters": {
                "rule": "0 2 * * *"
            },
            "name": "Cron Trigger",
            "type": "n8n-nodes-base.cron",
            "typeVersion": 1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "http://policy-service/retention/expired"
            },
            "name": "Get Expired Docs",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "queue": "deletion_requested",
                "message": "={{ $json[\"records\"] }}"
            },
            "name": "Queue Deletion",
            "type": "n8n-nodes-base.rabbitmq",
            "typeVersion": 1,
            "position": [
                600,
                300
            ]
        }
    ],
    "connections": {
        "Cron Trigger": {
            "main": [
                [
                    {
                        "node": "Get Expired Docs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Expired Docs": {
            "main": [
                [
                    {
                        "node": "Queue Deletion",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}