automations/n8n/upload-gate.json
{
    "name": "Upload Gate",
    "nodes": [
        {
            "parameters": {
                "eventName": "document_uploaded"
            },
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://audit-service/log",
                "body": "={{ {\n  eventId: $json[\"headers\"][\"x-event-id\"],\n  action: \"STORE_RAW\",\n  documentId: $json[\"body\"][\"document_id\"]\n} }}"
            },
            "name": "Log Audit Event",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "queue": "document_sanitize_requested",
                "message": "={{ $json[\"body\"] }}"
            },
            "name": "Queue Redaction Job",
            "type": "n8n-nodes-base.rabbitmq",
            "typeVersion": 1,
            "position": [
                600,
                300
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Log Audit Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Audit Event": {
            "main": [
                [
                    {
                        "node": "Queue Redaction Job",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "saveExecutionProgress": true,
        "saveManualExecutions": true,
        "executionTimeout": 3600
    }
}